body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    margin: 0;
    background-color: #f0f0f0; 
}

/* Contenitore di gioco */
#game-container {
    position: relative;
    width: 500px;
    height: 600px;
    border: 2px solid #2c3e50;
    background: linear-gradient(135deg, #e0f7fa, #ffffff);
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 20px; /* Spazio tra il contenitore e il pulsante */
}

/* Giocatore */
#player {
    position: absolute;
    bottom: 0;
    left: 200px;
    width: 100px;
    height: 50px;
    background: linear-gradient(135deg, #3498db, #2980b9);
    border-radius: 10px;
    transition: transform 0.2s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

/* Effetto hover per il giocatore */
#player:hover {
    transform: scale(1.05);
}

/* Palla */
#ball {
    position: absolute;
    top: 0;
    left: 250px;
    width: 30px;
    height: 30px;
    background: radial-gradient(circle, #e74c3c, #c0392b);
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
    z-index: 1;
    animation: bounce 0.5s infinite alternate;
}

/* Animazione di rimbalzo */
@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(5px);
    }
}

/* Punteggio */
#score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #34495e;
    background: #ecf0f1;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s;
}

#score.active {
    background-color: #2ecc71;
    color: #fff;
}

#start-button {
    position: relative;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px; /* Aggiunge spazio tra il contenitore di gioco e il pulsante */
}

/* Effetto hover per il pulsante */
#start-button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

/* Effetto quando si preme il pulsante */
#start-button:active {
    background-color: #1f5a7a;
    transform: scale(0.95);
}
